link(rel='stylesheet', href='/css/ex1.css')

h1 Exercise 1

div.container
    section.header
        h3 #{p1}
    section.mainContent
        h3 main
    section.sidebar
        h3 side
    section.twin1
        h3 twin
    section.twin2
        h3 twin
    section.footer
        h3 #{p2}