link(rel='stylesheet', href='/css/ex2.css')

h1 Exercise 2

div.container
    section.one
        h3 #{placeholder}
    section.two
        h3 two
    section.three
        h3 three
    section.four
        h3 four
    section.five
        h3 five