link(rel='stylesheet', href='/css/ex3.css')

h1 Exercise 3

div.container
    section.header
        p Header
    section.sideBar
        ul
            li sidebar
    section.welcome
        h1 Welcome
        p Hi!
    section.footer
        p Footer